{% extends 'profile_etudiant/layout.html.twig' %}

{% block title %}Hello ProfileEtudiantController!{% endblock %}

{% block bodylayout %}
    <!-- sidebar Menu contenant la liste des matieres (inscrit par l'etudiant) 
        affiche les supports en cliquant  sur une matiere
    -->
    <h4>affiche les support de cours </h4>
{% endblock %}