body{
    background-color: aliceblue;
}
.cadre{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 2px;
    box-shadow: 5px;
}
.cadre-header{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 4px;
}
.cadre-body{
    background-color: white;
    border-radius: 2px;
}
ul {
    text-decoration: none;    
}