{% extends 'profile_enseignant/layout.html.twig' %}

{% block title %}Edit Support{% endblock %}

{% block bodylayouy %}
    <h1>Edit Support</h1>

    {{ include('support/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('support_index') }}">back to list</a>

    {{ include('support/_delete_form.html.twig') }}
{% endblock %}
