{% extends 'support/index.html.twig' %}

{% block title %}Editer Support{% endblock %}

{%block partieSupport %} 
    <div class ="cadre-header">Editer Support</div>   
    <div class ="cadre-body shadow p-3 mb-5 bg-white rounded">
        {{ include('support/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <a href="{{ path('support_index') }}">Retourner</a>
    {{ include('support/_delete_form.html.twig') }}
{% endblock %}
