{% extends 'profile_enseignant/layout.html.twig' %}

{% block title %}New Support{% endblock %}

{% block bodylayout %}
    <h1>Ajouter un nouveau</h1>

    {{ include('support/_form.html.twig') }}

    <a href="{{ path('support_index') }}">retourner</a>
{% endblock %}
