{% extends 'depot_travaux/index.html.twig' %}

{% block title %}New DepotTravaux{% endblock %}

{%block partieDepot %} 
<div class ="cadre-header">Creer un Depot</div>   
<div class ="cadre-body shadow p-3 mb-2 bg-white rounded">
    {{ include('depot_travaux/_form.html.twig') }}
</div>   
    <a href="{{ path('depot_index') }}">retourner</a>
{% endblock %}
