<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    </head>
    <body class="badge-dark">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
       
      
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
